// place your custom styles here
.theme-hope-content img {
    // 加一个边框
    border: 1px solid #eee;
}
.vp-card{
    background-color: rgb(239, 235, 235);
}
.vp-card:hover{
    background-color: rgb(180, 178, 178);
}
.vp-hero-image{
    width: 25%;
}
.vp-card-logo{
    width: 100px;
    border-radius: 0;
}
.vp-card-desc{
    width: 150px; /* 设置元素的宽度 */
    white-space: nowrap; /* 保持文本在一行内显示 */
    overflow: hidden; /* 隐藏超出容器的内容 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
}